.react-tel-input input{
    margin-left: 100px;
}

input:not([type]), input[type=text]:not(.browser-default),
 input[type=password]:not(.browser-default), input[type=email]:not(.browser-default),
  input[type=url]:not(.browser-default), input[type=time]:not(.browser-default),
   input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default),
    input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default),
     input[type=number]:not(.browser-default), input[type=search]:not(.browser-default),
      textarea.materialize-textarea {
          padding: 0 60px;
          border: 1px solid black;
          width: 60%;
      } 

      .react-tel-input .flag-dropdown {
        top: 2px;
        bottom: 2px;
        left: 10px;
        border: none;
        background-color: white;
       
      
    }

    
    .react-tel-input .country-list {
            overflow-y: hidden;
            max-height: 500px;
    }

    input:not([type]):focus:not([readonly]),
     input[type=text]:not(.browser-default):focus:not([readonly]),
      input[type=password]:not(.browser-default):focus:not([readonly]),
      input[type=email]:not(.browser-default):focus:not([readonly]), 
      input[type=url]:not(.browser-default):focus:not([readonly]),  
      input[type=time]:not(.browser-default):focus:not([readonly]),
       input[type=date]:not(.browser-default):focus:not([readonly]), 
       input[type=datetime]:not(.browser-default):focus:not([readonly]),
        input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
        input[type=tel]:not(.browser-default):focus:not([readonly]),
         input[type=number]:not(.browser-default):focus:not([readonly]),
          input[type=search]:not(.browser-default):focus:not([readonly]),
           textarea.materialize-textarea:focus:not([readonly]) {
            border-bottom: 1px solid black;
            
           }

           input:focus {
            border-bottom: 1px solid black;
          }

           .create-an-account{
            cursor:pointer;
            color:#08bd80;
            font-weight:bolder;
            border-bottom:2px dotted #08bd80;
            word-spacing:2px;
           }


           .email-auth-button{
            padding:10px 0 0 0px;
            border-bottom:2px dotted black;
            margin-right:85px;color:#3c4852
              }
          

              .email-second-choice{
                  display: none;
              }